body {
  background: #f2f2f2;
}

html, body, #app {
  height: 100%;
}

.sky {
  background: #87CEEB;
  height: 1rem;
  width: 100%;
}

.ground {
  background-image: url('/img/png.png');
  background-repeat: repeat-x;
  background-position: left top;
  background-size: contain;
  height: 1rem;
  width: 100%;

}

.status {
  height: 9px;
  width: 9px;
  background-color: #e36161;
  display: inline-block;

  border-radius: 50%;
  opacity: 0.9;

  &.online {
    background-color: #61c854;

  }
}
